<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<title>게시판</title>
<style type="text/css">
table td{border-bottom: 1px dotted #a7a7a7;}
table th{text-align:center;}
table {width: 100%;border: none;border-collapse: separate; border-spacing: 0;}
.common_container{margin-top: 70px; margin-left: -15px;}
</style>

<!-- Bootstrap -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery-latest.min.js"></script>


<script type="text/javascript">

$(document).ready(function() {
	getList();
	$("#save").click(function(){
		jQuery.post("/board/create",{"boardKorName":$("#inputBoardKorName").val()
			, "boardName":$("#inputBoardName").val()
			, "boardType":$("#inputBoardType").val()
			, "hidden":$("input:radio[name='hidden']").val()
			, "commentUse":$("input:radio[name='commentUse']").val()
			, "pageLimit":$("#inputPageLimit").val()
			, "recommUse":$("input:radio[name='recommUse']").val()
			, "reportUse":$("input:radio[name='reportUse']").val()
			, "imageAddUse":$("input:radio[name='imageAddUse']").val()
			, "mediaAddUse":$("input:radio[name='mediaAddUse']").val()
			, "commentMaxCnt":$("#inputCommentMaxCnt").val()}	
			,function(data){
				getList();
		}).fail(function(code,message){   
			alert("code:"+code.status+"\n"+"message:"+message.message);
			console.log(message);
		});
	});
});

function getList(){
	jQuery.getJSON("/board/list", function(data){
		console.log(data);
		$("#sidebar ul").empty();
		jQuery.each(data, function(idx,item){
			$("#sidebar ul").append("<li><a href=\"javascript:getBoard("+item.boardId+");\">"+item.boardKorName+"</a></li>");
		});
	}).error(function(code,message){   
		alert("code:"+code.status+"\n"+"message:"+message.message);
		console.log(message);
	});
}

function getBoard(boardId){
	alert("getBoard");
	jQuery.getJSON("/board/view?boardId="+boardId, function(data){
		console.log(data);
		$("#inputBoardKorName").val(data.boardKorName);
		$("#inputBoardName").val(data.boardName);
		$("#inputBoardType").val(data.boardType);
		$("input:radio[name='hidden']").val(data.hidden);
		$("input:radio[name='commentUse']").val(data.commentUse);
		$("#inputPageLimit").val(data.pageLimit);
		$("input:radio[name='recommUse']").val(data.recommUse);
		$("input:radio[name='reportUse']").val(data.reportUse);
		$("input:radio[name='imageAddUse']").val(data.imageAddUse);
		$("input:radio[name='mediaAddUse']").val(data.mediaAddUse);
		$("#inputCommentMaxCnt").val(data.commentMaxCnt);	
	}).error(function(code,message){   
		alert("code:"+code.status+"\n"+"message:"+message);
		console.log(message);
	});
}
</script>

</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Manager</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>
    
    
    <div class="container common_container">

      <div class="row">
		<div class="col-xs-6 col-sm-3" id="sidebar">
          <ul class="list-unstyled"></ul>
        </div>
        <div class="col-xs-12 col-sm-9">
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputBoardName" class="col-sm-2 control-label">Board명</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputBoardName" name="boardName" placeholder="Board명">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputBoardKorName" class="col-sm-2 control-label">게시판<br/>한글명</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputBoardKorName" name="boardKorName" placeholder="게시판한글명">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputBoardType" class="col-sm-2 control-label">게시판<br/>타입</label>
			    <div class="col-sm-10">
			    	<select id="inputBoardType" name="boardType" class="form-control">
			    		<option value="0">기본</option>
			    		<option value="1">텍스트형</option>
			    		<option value="2">이미지형</option>
			    		<option value="3">공지형</option>
			    		<option value="4">이벤트형</option>
			    	</select>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputHidden" class="col-sm-2 control-label">숨김여부</label>
			    <div class="col-sm-10">
			    	<label class="radio-inline">
					  <input type="radio" name="hidden" id="inlineHidden1" value="Y"> Y
					</label>
					<label class="radio-inline">
					  <input type="radio" name="hidden" id="inlineHidden2" value="N" checked="checked"> N
					</label>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputCommentUse" class="col-sm-2 control-label">댓글사용유무</label>
			    <div class="col-sm-10">
			    	<label class="radio-inline">
					  <input type="radio" name="commentUse" id="inlineCommentUse1" value="Y"> Y
					</label>
					<label class="radio-inline">
					  <input type="radio" name="commentUse" id="inlineCommentUse2" value="N" checked="checked"> N
					</label>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPageLimit" class="col-sm-2 control-label">페이지수</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputPageLimit" name="pageLimit" value="10">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputRecommUse" class="col-sm-2 control-label">추천사용유무</label>
			    <div class="col-sm-10">
			    	<label class="radio-inline">
					  <input type="radio" name="recommUse" id="inputRecommUse1" value="Y"> Y
					</label>
					<label class="radio-inline">
					  <input type="radio" name="recommUse" id="inputRecommUse2" value="N" checked="checked"> N
					</label>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputReportUse" class="col-sm-2 control-label">신고유무</label>
			    <div class="col-sm-10">
			    	<label class="radio-inline">
					  <input type="radio" name="reportUse" id="inputReportUse1" value="Y"> Y
					</label>
					<label class="radio-inline">
					  <input type="radio" name="reportUse" id="inputReportUse2" value="N" checked="checked"> N
					</label>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputImageAddUse" class="col-sm-2 control-label">이미지첨부유무</label>
			    <div class="col-sm-10">
			    	<label class="radio-inline">
					  <input type="radio" name="imageAddUse" id="inputImageAddUse1" value="Y"> Y
					</label>
					<label class="radio-inline">
					  <input type="radio" name="imageAddUse" id="inputImageAddUse2" value="N" checked="checked"> N
					</label>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="inputMediaAddUse" class="col-sm-2 control-label">외부컨텐츠유무</label>
			    <div class="col-sm-10">
			    	<label class="radio-inline">
					  <input type="radio" name="mediaAddUse" id="inputMediaAddUse1" value="Y"> Y
					</label>
					<label class="radio-inline">
					  <input type="radio" name="mediaAddUse" id="inputMediaAddUse2" value="N" checked="checked"> N
					</label>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="inputCommentMaxCnt" class="col-sm-2 control-label">댓글수</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputCommentMaxCnt" name="commentMaxCnt" value="5">
			    </div>
			  </div>
			  
			  
			  
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default" id="save">저장</button>
			    </div>
			  </div>
			</form>
	

        </div>

        
      </div><!--/row-->

      <hr>

      <footer>
        <p>© 2017 Study.</p>
      </footer>

    </div>    
    
</body>


</html>