<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>글쓰기</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/editor/ckeditor.js"></script>
<script type="text/javascript">

jQuery(function() {
	// ckeditor 적용
	CKEDITOR.replace('editor1', {
		width : 900,
		enterMode : '2',
		filebrowserImageUploadUrl: '/file/imageUpload'	
	});
	
	if($("#articleId").val() != 0){
		jQuery.getJSON("/article/"+$("#articleId").val(), function(data){
			$("#title").val(data.title);
			$("#id").val(data.id);
			$("#nickname").val(data.nickname);
			
			$("#editor1").val(data.content);
		});
	}
	
	$("#save").click(function(){
		var content = CKEDITOR.instances.editor1.getData();
		var articleId = $("#articleId").val()
		jQuery.post("/article/save",{"content":content
			, "title":$("#title").val()
			, "id":$("#id").val()
			, "nickname":$("#nickname").val()
			, "articleId":articleId}	
			,function(data){
				if(data){
					location.href="/view/article/list";
				}
		}).fail(function(code,message){   
			alert("code:"+code.status+"\n"+"message:"+message.message);
			console.log(message);
		});
	});
});
</script>

</head>
<body>
	<input type="text" id="articleId" th:attr="value = ${articleId}"/>
	<!--/* <xmp> */-->
	<h2>
		Hello! <span th:text="${name}">${name}</span>
	</h2>
	<div>Thymeleaf version</div>

	<form id="articleForm">
		제목 : <input type="text" id="title" name="title" value="title~~~"/><br/>
		아이디 : <input type="text" id="id" name="id" value="maelva"/><br/>
		닉네임 : <input type="text" id="nickname" name="nickname" value="maan"/><br/>
		<textarea name="editor1" id="editor1" rows="10" cols="50"></textarea>
	</form>

	<a id="save" href="javascript:void(0);">저장</a>
</body>
</html>