<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>글쓰기</title>

 <script src="/editor/ckeditor.js"></script>
 
</head>
<body>
	<!--/* <xmp> */-->
	<h2>Hello! <span th:text="${name}">${name}</span></h2>
	<div>Thymeleaf version</div>
	
	 <form>
          <textarea name="editor1" id="editor1" rows="10" cols="50"></textarea>
      </form>
      
      <a href="javascript:fnSave();">저장</a>
        
      <script>
            CKEDITOR.replace( 'editor1' );
      </script>
</body>
</html>